Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
#Answer

import pandas as pd
data = [4, 8, 15, 16, 23,  42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

                      -------------------------------------------------------------------

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [8]:
#Answer

import pandas as pd
my_list = [12,34,52,18, 9, 5, 10, 9, 13, 59]
my_series = pd.Series(my_list)
print(my_series)

0    12
1    34
2    52
3    18
4     9
5     5
6    10
7     9
8    13
9    59
dtype: int64

                      -------------------------------------------------------------------

Q3. Create a Pandas DataFrame that contains the following data:

Name : Alice, Bob, Claire

Age : 25, 30, 27

Gender : Female, Male, Female

Then, print the DataFrame.

In [15]:
#Answer

import pandas as pd
data = { 'Name' : ['Alice', 'Bob', 'Claire'],
          'Age'  : [25, 30, 27],
          'Gender' : [ 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

                      -------------------------------------------------------------------

Q4. Which of the following is mutable in nature Series, DataFrame, Panel?

#Answer
 DataFrame is mutable in nature.

"mutable" refers to the ability to change, modify, or update an object after it has been created. In the context of pandas:

Series: Series objects are considered immutable, meaning their contents cannot be changed after creation. You can create a new Series with modified values, but you can't directly modify the values within an existing Series.

DataFrame: DataFrame objects are mutable. You can modify the data within a DataFrame by changing, adding, or deleting rows or columns.

Panel: The Panel data structure has been deprecated in newer versions of pandas , and it's no longer recommended for general use. In modern pandas, multi-dimensional data can be efficiently handled using the more flexible and powerful MultiIndex DataFrame structure. However, for reference, Panel was also mutable.

                      -------------------------------------------------------------------

Q5. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#Answer

In pandas, a DataFrame is a two-dimensional, size-mutable, and highly flexible data structure that is used to store and manipulate tabular data, such as data in a spreadsheet or a SQL table. It is one of the most commonly used data structures in pandas and is essentially a collection of Series objects.

Here's how a DataFrame differs from a pandas Series:

a) Dimensionality:

* A Series is a one-dimensional data structure that stores a single column or one-dimensional array of data along with an index.
* A DataFrame is a two-dimensional data structure that consists of multiple columns (Series), where each column can be of a different data type.

2) Example:
Let's illustrate the difference with an example. Suppose we have a dataset of students with two columns: "Name" and "Age."

Here's how we would represent it using a Series and a DataFrame:

* Using a Series:____________

In [4]:
import pandas as pd

# Create a Series for the "Name" column
names = pd.Series(["Sabreen", "Naz", "kouser", "Zoya", "Khanam"])

# Create another Series for the "Age" column
ages = pd.Series([22, 21, 22, 24, 25])

# Combine the two Series into a dictionary
student_data = {"Name": names, "Age": ages}

# Create a DataFrame from the dictionary
df = pd.DataFrame(student_data)

print(df)

      Name  Age
0  Sabreen   22
1      Naz   21
2   kouser   22
3     Zoya   24
4   Khanam   25


In the above example, we created two Series, one for names and one for ages, and then combined them into a DataFrame. The resulting DataFrame has two columns: "Name" and "Age."

3) Flexibility:

DataFrames are more flexible than Series because they can store multiple columns with different data types, whereas a Series can only store a single column of data.

4) Operations:

we can perform operations on both Series and DataFrames, but with DataFrames, we can perform operations on entire columns or subsets of the data, which is particularly useful for data analysis and manipulation.

In summary, while a Series is a one-dimensional data structure that can be thought of as a single column of data, a DataFrame is a two-dimensional data structure that can store multiple columns of data, making it more suitable for working with structured, tabular data.

                       -------------------------------------------------------------------

Q6. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?


#Answer


Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

1) Selection and Filtering:

df['column_name'] or df.column_name: Select a specific column.

df[['col1', 'col2']]: Select multiple columns.

df[df['column_name'] > value]: Filter rows based on a condition.

Example: To select the "Age" column from a DataFrame df, you can use df['Age'].

2) Sorting:

df.sort_values(by='column_name'): Sort the DataFrame based on a column.

df.sort_values(by=['col1', 'col2']): Sort by multiple columns.

df.sort_index(): Sort by row index.

Example: To sort a DataFrame df by the "Age" column in ascending order, you can use df.sort_values(by='Age').

3) Aggregation:

df.groupby('grouping_column').agg({'aggregated_column': 'aggregation_function'}): Group data and perform aggregate operations.

df['column_name'].mean(): Compute the mean of a column.

df['column_name'].sum(): Compute the sum of a column.

Example: To calculate the average age of students in a DataFrame df, you can use df['Age'].mean().

4) Joining and Merging:

pd.concat([df1, df2]): Concatenate DataFrames vertically or horizontally.

pd.merge(df1, df2, on='key_column'): Merge two DataFrames based on a common column.

Example: To combine two DataFrames df1 and df2 by concatenating them vertically, you can use pd.concat([df1, df2]).

5) Data Cleaning:

df.drop(['col1', 'col2'], axis=1): Remove columns.

df.drop_duplicates(): Remove duplicate rows.

df.fillna(value): Replace missing values.

Example: To remove duplicate rows from a DataFrame df, you can use df.drop_duplicates().


6) Statistical Summary:

df.describe(): Get summary statistics for numerical columns.

df['column_name'].value_counts(): Count unique values in a column.

df.corr(): Compute the correlation matrix.

Example: To obtain summary statistics for the numeric columns in a DataFrame df, you can use df.describe().

These are just a few common functions for data manipulation in pandas DataFrames. The choice of which function to use depends on the specific data analysis or transformation task we are working on.

                        -------------------------------------------------------------------

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
#Answer

import pandas as pd

# Create Series with different data types
names = pd.Series(["Alice", "Bob", "Charlie", "David", "Eve"])
ages = pd.Series([23, 21, 22, 24, 25])
scores = pd.Series([95, 88, 78, 92, 89])

# Combine the Series into a dictionary
data = {
    "Name": names,
    "Age": ages,
    "Test_Score": scores
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age  Test_Score
0    Alice   23          95
1      Bob   21          88
2  Charlie   22          78
3    David   24          92
4      Eve   25          89

In this example, we have three Series: "Name" , "Age" and "Test_Score" . We combine these Series into a dictionary, and then we use the pd.DataFrame constructor to create a DataFrame. The resulting DataFrame df will look like the above output.

Thus, we have created a DataFrame with three columns, each represented by a different Series with distinct data types. This is an example of creating a DataFrame using multiple Series with varying data types.

                        -------------------------------------------------------------------